Django==5.1.6
requests==2.32.3
psycopg2-binary~=2.9.3
gunicorn==21.2.0
whitenoise==6.6.0
pandas==2.1.2
numpy==1.26.1
dotenv==0.9.9
django-allauth==65.4.1
PyJWT==2.10.1
cryptography==44.0.1
scikit-learn==1.6.1
